@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Pangolin&display=swap");
* {
  box-sizing: border-box; /*#2b3f2b*/
}
:root {
  --default-color: #c51ac5;
}
/* body {
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Pangolin", cursive;
  background: rgba(47, 75, 75, 0.958420868347339) 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* margin: 50px 0; */
/* } */

body {
  margin: 0;
  padding: 0;
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Pangolin", cursive;
  background: rgba(212, 224, 224, 0.958) 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.containerr {
  position: relative;
  z-index: 1; /* Ensure the content is above the SVG */
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23e7008a" fill-opacity="1" d="M0,288L60,261.3C120,235,240,181,360,160C480,139,600,149,720,133.3C840,117,960,75,1080,96C1200,117,1320,203,1380,245.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>');
  background-size: cover;
  z-index: 0; /* Ensure the SVG is behind the content */
  opacity: 0.5;
}

.containerr {
  background-color: #fff;
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(54, 38, 38, 0.1);
  width: 300px;
  /* position: relative; */
}
.containerr .login-form-email,
.login-form-password,
.signup-form-name,
.signup-form-email,
.signup-form-otp,
.signup-form-password {
  position: relative;
}
.show-password {
  cursor: pointer;
  position: absolute;
  top: 25px;
  width: 50px;
  left: 85%;
  font-size: 23px;
  background-color: transparent;
  color: #0b0c0b;
}

.header-container {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: #216625 1px solid;
  /* border-radius: 3px; */
  transition: 0.5s ease-in;
}
input:focus {
  border-bottom: #216625 3px solid;
}

.btns {
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Pangolin", cursive;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 30px;
  background-color: var(--default-color);
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #bd18d3;
}

p {
  margin-top: 15px;
  text-align: center;
}
label {
  font-size: 20px;
  font-weight: bold;
}
.signup-link,
.login-link {
  margin-bottom: 0;
}

.signup-link a,
.login-link a {
  color: blue;
  text-decoration: underline;
}

.login-form {
  display: block;
}

.signup-form {
  display: none;
}

#fp {
  color: black;
  font-size: 14px;
  float: right;
  text-decoration: none;
  font-weight: 100;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  border-radius: 30px;
  border: 1px solid rgb(228, 228, 193);
}
.icons:hover {
  transition-duration: 0.9s;
  border: 1px solid rgb(73, 73, 32);
}
.icon {
  border-radius: 50%;
  height: 50px;
}

.img-btn {
  border: none;
  background-color: #fff;
  /* padding: 10px; */
  cursor: pointer;
  font-family: "Pangolin", cursive;
  font-size: 20px;
}
.img-btn:hover {
  transition-duration: 0.9s;
  font-weight: bold;
}

#login-error,
#signup-error {
  position: relative;
}
/* The alert message box */
.alert {
  padding: 10px;
  background-color: #f71605; /* Red */
  color: white;
  text-align: center;
  /* margin-bottom: 15px; */
  border-radius: 6px;
  position: absolute;
  top: 0;
  width: 100%;
  /* left: 20px; */
  z-index: 1;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/* //none and block */
.d-none {
  display: none;
}
.d-block {
  display: block;
}

.alertContainer {
  position: fixed;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  right: 0;
  min-width: 90px;
  max-width: 300px;
  z-index: 999999;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}
.alert-icon {
  font-size: 1.3em;
  margin-right: 10px;
  color: #ffffff;
}
.alert-error {
  background-color: #dd1710;
  color: #ffffff;
  border-color: #d9534f;
}

.alert-successful {
  background-color: #20ec19;
  color: #ffffff;
  border-color: #64da46;
}

.alert-information {
  background-color: #5bc0de;
  color: #ffffff;
  border-color: #46b8da;
}

.alert-warn {
  background-color: #f0ad4e;
  color: #ffffff;
  border-color: #eea236;
}
/* Media Queries for Mobile View */
@media (max-width: 600px) {
  /* .alertContainer {
    left: 40%;
  } */

  .alert {
    width: 300px;
  }
}
