@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  /* font-size: 62.5%; */
  font-size: 10px;
  background-color: #93dfaa;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  /* border: 2px solid black; */
  padding: 10px;
}
.actions {
  /* background-color: #ca191936; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  border: 2px solid rgb(12, 33, 54);

  padding: 5%;
  width: 30%;
  height: 200px;
  border-radius: 20px;
}
.product-details {
  background-color: #a4d6a0;
  padding: 10px;
  margin-left: 30px;
  border-radius: 10px;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}
/* Reset default button styles */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}
.power-button i {
  background: -webkit-linear-gradient(#f80c0c, #3df32d);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.power-button {
  width: 70px;
  height: 70px;
  border: 3px solid gray;
  border-radius: 50%;
  position: relative;
  background-color: rgb(236, 228, 228);
  transition: border 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.power-button.on {
  box-shadow: -3px 33px 45px -2px rgba(0, 0, 0, 0.75);
  border: 3px solid rgb(27, 228, 54);
}
.tank-container {
  margin-top: 50px;
}

.water-tank {
  width: 150px;
  height: 200px;
  background-color: #e3e9c8;

  border: 3px solid #333;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}
.top {
  border: 2px solid black;
  position: absolute;
  width: 45%;
  height: 6%;
  top: 28%;
  border-radius: 10px;
  background-color: #282828;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.water {
  width: 100%;
  background-color: #3e9bfd;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 2s ease;
  animation: waveAnimation 5s linear infinite;
}
.btn {
  font-size: large;
  background-color: #bccf66;
  padding: 13px;
  border-radius: 20px;
  font-weight: bold;
}
.btn:hover {
  border-bottom: 2px #000 solid;
}
@keyframes waveAnimation {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(5%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(5%);
  }
  90% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}
.txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tank {
  position: relative;
  padding-top: 100px;
}


.wave {
  position: absolute;
  bottom: 95px; /* Align wave to the bottom of the tank */
  width: 200%; /* Increase width to allow for smooth animation */
  animation: wave-animation 4s linear infinite; /* Adjusted speed */
}

@keyframes wave-animation {
  0% {
      transform: translateX(0);
  }
  
  100% {
      transform: translateX(-50%);
  }
}
.layer1 {
  position: absolute;
  background: rgba(213, 255, 26, 0.5);
  backdrop-filter: blur(0.5px);
  top: 50px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.layer2 {
  position: absolute;
  background: rgba(213, 255, 26, 0.5);
  backdrop-filter: blur(0.5px);

  top: 140px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}
.layer3 {
  position: absolute;
  background: rgba(213, 255, 26, 0.5);
  backdrop-filter: blur(0.5px);
  z-index: 1;

  top: 240px;
  left: 0;
  width: 100%;
  height: 40px;
}
.layer4 {
  position: absolute;
  background: rgba(213, 255, 26, 0.5);
  backdrop-filter: blur(0.5px);
  z-index: 1;

  top: 340px;
  left: 0;
  width: 100%;
  height: 40px;
}
/* .waterwave {
    position: absolute;
    background-color: red;
    padding-top: 20px;
    width: inherit;
   
  } */
/* Styles for the toggle button */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.toggle input {
  display: none;
}

/* Style the slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d2ffc0;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;
}

/* Change the slider color when the toggle is on */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(206, 194, 194);
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #358fda;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2086207a;
  /* Adjust the opacity (4th value) to control dimness */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure the overlay appears above other elements */
}

.loader {
  border: 5px solid #ffffff; /* Light gray border for the loader */
  border-top: 5px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Apply the spinning animation */
}
.overlay::after {
  content: "Fetching data...";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(12, 9, 9);
  font-size: 30px;
  font-weight: bold;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* //none and block */
.d-none {
  display: none;
}
.d-block {
  display: block;
}

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 777;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #00e676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
  color: #00e676;
}

/* Home section */

/* .home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover; 
} */

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;

    flex-direction: column;
  }
  .actions {
    border: 2px solid rgb(12, 33, 54);

    padding: 5%;
    width: 70%;
    height: 190px;
    border-radius: 10px;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #031d18;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}
